{{ partial "header.html" . }}

<!-- page -->
<div id="homeContent" class="pushFooter">
  <div class="band first">
    <div class="bandContent">
      <div class="hexBadges">
   <!--     <img src="images/hex-altituder.png" alt="altituder hex sticker" class="r1 c0">
        <img src="images/hex-pkghelper.png" alt="pkghelper hex sticker" class="r3 c0">
        <a href="http://markusdumke.github.io/reinforcelearn/"><img src="images/hex-tibble.png" alt="reinforcelearn hex sticker" class="r2 c2"></a >-->
      </div>
      <div class="blurb">
        <div class="tagline">Blog</div>
        <div>
          Personal Blog
        </div>
      </div>
    </div> <!-- bandContent -->
  </div>  <!-- band -->
</div>

{{ partial "footer.html" . }}
